conda.enabled = false
singularity.enabled = false

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--cleanenv'
}

process {
    // Prepare is intentionally excluded because it runs on a CPU node.
    withName: scvi {
        containerOptions = '--nv'
    }

    withName: scvi_cnmf {
        containerOptions = '--nv'
    }

    withName: cnmf_factorize_gpu {
        containerOptions = '--nv'
    }

    withName: cnmf_consensus_gpu {
        containerOptions = '--nv'
    }
}
